* {
    border: solid 2px whitesmoke;
    background-image: url(https://images7.alphacoders.com/131/1318301.png);
    background-size: 1700px 700px;
    background-repeat: no-repeat;
    color: pink;
}


#Questions {
    position: absolute;
    height: 40%;
    width: 100%;
}